:root {
    --custom-color: #a4d6e2;
    --text-align: center;
}


body {
    background-image: url(Pastel-Colors-Background.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#menu {
    display: flex;
    justify-content: flex-end;

}

header li {
    margin-right: 100px;
    text-align: right;   
    list-style-type: none;
}

.project {
    position: relative;

}

.project-title {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--custom-color);
}

hr.line1 {
    width: 200%;
    height: 2px;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: grey;
 
 }
 h1 { 
    text-align: var(--text-align);
 }

 h2 {
    text-align: var(--text-align);
 }

h3 {
    text-align: var(--text-align);
}

h4 { 
    text-align: var(--text-align);
}
.project-img {
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;

}

.project-img:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.3;
  width: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 1000px) {
  header {
    background-color: pink;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-color: #bb8588;
  }
}


@media screen and (max-width: 500px) {
  header {
    background-color: var(--custom-color);
    flex-direction: column;
  }
}
