:root {
    --custom-color: #32a852;
}


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: var(--custom-color);
    color: white;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: flex-end;

}

header li {
    margin-right: 100px;
    text-align: right;   
    list-style-type: none;
}

.project {
    position: relative;
}

.project-title {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    background-color: var(--custom-color);
}

.project-img {
    width: 20%;

}

.project-img:hover {
  box-shadow: 0 0 10px #ccc;
  opacity: 0.3;
}

@media screen and (max-width: 1000px) {
  header {
    background-color: pink;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-color: #bb8588;
  }
}


@media screen and (max-width: 500px) {
  header {
    background-color: cyan;
  }
}
